body {
    margin: 0;
    padding: 0;
}
header {
    min-width: 360px;
    height: 95px;
    background-color: #303030;
}

.menu {
    position: relative;
    width: 1200px;
    height: 95px;
    margin: 0 auto;
}

.logo {
    margin-left: 10px;
            width: 157px;
            height: 35px;
            float: left;
            padding: 30px 0;
            background-image: url("../image/mairala.png");
            background-repeat: no-repeat;
            background-position: 0px center;
            background-size: contain;
            transition: all .2s ease-in-out;
}

.link {
    padding: 30px 0;
    margin: 0 auto;
}

body>header>div>div.link>a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.home,
.about,
.portfolio,
.team,
.blog,
.contact {
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 30.07px;
    text-transform: uppercase;
    padding: 3px 3px;
    margin: 0 17px;
    position: relative;
}
.home:after,
.about:after,
.portfolio:after,
.team:after,
.blog:after,
.contact:after {
    content: '';
    position: absolute;
    left: 0;
    top: 36px;
    width: 100%;
    height: 6px;
    background-color:#7b6c63;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.home:hover:after,
.about:hover:after,
.portfolio:hover:after,
.team:hover:after,
.blog:hover:after,
.contact:hover:after {
    content: '';
    position: absolute;
    left: 0;
    top: 36px;
    width: 100%;
    height: 6px;
    background-color: #7b6c63;
    opacity: 1;
}