/*size:  width: 1440px;*/


/*start*/

body{
    font-family: 'Raleway',sans-serif;
    /*background-image: url("../image/5941-dart-landing.png");*/
    background-repeat: no-repeat;
    background-position: top center;
}

/*end body*/
/*start page*/
.mb_menu {
    width: 33px;
    height: 33px;
    background-image: url("../image/mobile-menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}

.open_mb_menu {
    width: 100%;
    min-width: 320px;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 83px;
    right: 50%;
    transform: translateX(50%);
}
a.menu_link_mobile:hover {
    background-color: rgba(51, 51, 51, 0.1);
}
a.menu_link_mobile {
    color: #062037;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 0px;
    text-align: center;
    width: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.menu_bg {
    background-image: url("../image/bg-image-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

.menu_gradient {
    background-image: linear-gradient(to bottom right, #35eabe, #17b2c9);
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    opacity: 0.9;
}
header {
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
}
.menu {
    margin-top: 50px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.logo {
    display: flex;
}
.logo_p_start {
    font-size: 15px;
    margin-left: 10px;
    text-transform: uppercase;
    color: #fff;
}
p.logo_p_1{margin:0;}
p.logo_p_2 {
    margin: 0;
    font-weight: 900;
    margin-top: -1px;
}
.logo:before {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("../image/Shape\ 1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
}
.menu_link {
    margin-left: -100px;
    width: 440px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
a.menu_link_top {
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    font-family: Raleway;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
a.menu_link_top:hover {
    color: #061e37;
}
button.sign_up_button {
    outline:none;
    cursor: pointer;
    transition: border .1s ease-in-out;
    border: solid 1px #fff;
    border-radius: 3px;
    padding: 0 18px;
    background-color: #fff0;
    color: #fff;
    font-size: 12px;
    font-family: Raleway;
    height: 25px;
    margin-top: 3px;
}
button.sign_up_button:hover {
    border-color: #061e37;
}
.fast_info_panel {
    font-family: Raleway;
    color: #fff;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 88.8%;
    align-items: center;
}
.fast_info_panel_video_block {
    width: 600px;
    height: 318px;
    margin-top: -2px;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #061e37;
    box-shadow: 0px 4px 25px 0 rgba(51, 51, 51, 0.3);
}
.fast_buy {
    width: 600px;
}
h1.fast_buy_h {
    color: #fff;
    margin: 0;
    font-size: 59px;
    font-weight: 800;
    margin-left: -3px;
    margin-top: -13px;
    letter-spacing: -0.8px;
}
p.fast_buy_p {
    color: #fff;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 33px;
    line-height: 2.1;
}
button.buy_now {
    cursor: pointer;
    border: 0;
    padding: 19px 36px;
    border-radius: 5px;
    background-color: #061f37;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    margin-right: 26px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1),-webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
}
button.try_for_free {
    cursor: pointer;
    border: 0;
    padding: 19px 26px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #fff;
    color: #062037;
    font-weight: 700;
    outline: none;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1),-webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
}
button.buy_now:hover,
button.try_for_free:hover {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}
/*end*/

/*ease_useful*/
.ease_useful {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.ease_text_block {
    height: 350px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
h3.ease_h3 {
    width: 100%;
    color: #061e37;
    margin: 0;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    transform: translateY(-3px);
}
h4.ease_h4 {
    width: 100%;
    text-align: center;
    margin: 0;
    color: #b0bec5;
    font-size: 25px;
    font-weight: 600;
    transform: translateY(7px);
}
.ease_block_p {
    margin: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;

}
.ease_title {
    display: flex;
}
.ease_title_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p.ease_block_p_text {
    margin: 0;
    width: 600px;
    line-height: 28px;
    font-size: 16px;
    color: #b0bec5;
    transform: translateY(18px);
}
.ease_title_block:before {
    content: "";
    background-image: url(inspector-stylesheet);
    width: 71px;
    height: 71px;
    display: flex;
}
body>div.ease_useful>div.ease_title>div:nth-child(1):before{
    background-image: url("../image/title-goes-1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(13px);
}
body>div.ease_useful>div.ease_title>div:nth-child(2):before{
    background-image: url("../image/title-goes-2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(13px);
}
body>div.ease_useful>div.ease_title>div:nth-child(3):before{
    background-image: url("../image/title-goes-3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(13px);
}
h5.ease_title_block_h {
    font-size: 20px;
    margin: 0;
    margin-top: 55px;
    font-weight: 600;
}
p.ease_title_block_p {
    margin: 0px 55px;
    margin-top: 13px;
    text-align: center;
    color: #b0c1c9;
}
.get_start_block {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}
button.get_start {
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1),-webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background-color: #36e9b6;
    color: #fff;
    font-weight: 500;
    padding: 20px 22px;
    text-transform: uppercase;
    outline: none;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
button.get_start:hover {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}
/*end ease useful*/
footer {
    width: 100%;
    background-color: #061e37;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer_logo_and_menu {
    padding-top: 50px;
    max-width: 1440px;
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
}
a.menu_link_footer {
    cursor: pointer;
    transition: opacity .2s ease-in-out;
    font-family: Raleway;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
.menu_link:hover a.menu_link_footer{opacity: 0.5;}
a.menu_link_footer:hover{opacity: 1!important;}
.social_and_links {
    max-width: 1440px;
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
.other_link {
    display: flex;
}
a.f_o_l {
    font-family: Raleway;
    color: #fff;
    text-decoration: none;
}
a.f_o_l.center_f_o_l {
    margin: 0 35px;
}
a.f_o_l.center_f_o_l:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translateX(-17px) translateY(7px);
}
a.f_o_l.center_f_o_l:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform:translateX(83px) translateY(-11px);
}
.other_link:hover a.f_o_l {
    opacity: 0.6;
}
a.f_o_l:hover{
    transition: all .2s ease-in-out;
    opacity: 1!important;
}
/*end*/
.counts{
    font-size: 24px;
    display: flex;
    color: #fff;
    font-family: sans-serif;
}
.counts_color{
    width: 25%;
    padding: 50px;
}

.counts_color:before{
    content: "";
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
}
p.counts_p {
    margin: 0;
    margin-left: 120px;
}
span.counts_span {
    display: flex;
    justify-content: center;
    margin-left: 54px;
}
body>div>div:nth-child(1):before{
    background-image: url("../image/Business.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
body>div>div:nth-child(2):before {
    background-image: url("../image/Downloads.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
body>div>div:nth-child(3):before {
    background-image: url("../image/Free\ installs.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
body>div>div:nth-child(4):before {
    background-image: url("../image/Pro\ Users.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
/*.services*/
.services {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1.services_h {
    margin: 0;
    padding-top: 89px;
    text-align: center;
    font-size: 44px;
    color: #061e37;
}
.service_p_block {
    width: 600px;
    align-items: center;
    justify-content: center;
}
p.services_p {
    margin: 0;
    text-align: center;
    color: #b0bec5;
    margin-top: 18px;
}
.services_popup_block {
    margin-top: 40px;
    padding-bottom: 150px;
}
.popup {
    width: 800px;
    background-color: #fff;
    box-shadow: 0px 1px 21px 5px #d6d6d669;
    border-radius: 5px;
    padding: 15px 10px;
    margin-top: 15px;

}
a.popup_button {
    display: flex;
    margin-left: 50px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #061f37;
}
body > div.services > div.services_popup_block > div:nth-child(1):before{
    content:'';
    position: absolute;
    margin-left: 11px;
    width: 20px;
    height: 20px;
    background-image: url("../image/popup/baseline-trending_up-24px.svg");
}
body > div.services > div.services_popup_block > div:nth-child(2):before{
    content:'';
    position: absolute;
    margin-left: 11px;
    width: 20px;
    height: 20px;
    background-image: url("../image/popup/baseline-email-24px.svg");
}
body > div.services > div.services_popup_block > div:nth-child(3):before{
    content:'';
    position: absolute;
    margin-left: 11px;
    width: 20px;
    height: 20px;
    background-image: url("../image/popup/baseline-people-24px.svg");
}
body > div.services > div.services_popup_block > div:nth-child(4):before{
    content:'';
    position: absolute;
    margin-left: 11px;
    width: 20px;
    height: 20px;
    background-image: url("../image/popup/baseline-rss_feed-24px.svg");
}
body > div.services > div.services_popup_block > div:nth-child(5):before{
    content:'';
    position: absolute;
    margin-left: 11px;
    width: 20px;
    height: 20px;
    background-image: url("../image/popup/baseline-trending_up-24px.svg");
}
a.popup_button:after {
    content: '';
    display: flex;
    width: 20px;
    height: 20px;
    background-image: url("../image/popup/baseline-arrow_drop_down-24px.svg");
    background-repeat: no-repeat;
}
div#popup_1,
div#popup_2,
div#popup_3,
div#popup_4,
div#popup_5 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}
.popup_image{
    background-image: url("../image/black-iphone-5-beside-paper.png");
    background-repeat: no-repeat;
    width: 36%;
    height: 155px;
    border-radius: 5px;
}
.popup_text {
    width: 80%;
}
p.popup_text_p {
    margin-left: 25px;
    color: #061e37;
    line-height: 26px;
    text-align: justify;
}
/*testimonials*/
.testimonials {
    height: 550px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.testimonials_title {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
h1.ti_title {
    margin: 0;
    color: #fff;
    font-size: 38px;
    font-family: Raleway;
    font-weight: 500;
}
p.ti_p {
    color: #fff;
}
button.testimonials_get_start {
    cursor: pointer;
    border: 0;
    padding: 19px 36px;
    border-radius: 5px;
    background-color: #061f37;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    transform: translateY(45px);
}
button.testimonials_get_start:hover{
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12);
}
.testimonials_carousel {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.testimonials_bg_image {
    background-image: url("../image/bg-image-testimonials.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    left: 0;
    z-index: -3;
    position: absolute;
}
.testimonials_bg_gr {
    background-image: linear-gradient(to bottom right, #35eabe, #17b2c9);
    width: 100%;
    height: 550px;
    position: absolute;
    left: 0;
    z-index: -2;
    opacity: 0.9;
}
.carousel_text {
    width: 79%;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 35px;
    box-shadow: 0 2px 10px rgba(51, 51, 51, 0.3);
}
.carousel_block {
    display: flex;
    align-items: center;
}
body>div.testimonials>div.testimonials_carousel>div:nth-child(2){
    margin-top: 0px;
}
h3.c_t_h_name {
    color: #061e37;
}
p.c_t_p {
    color: #78909c;
    font-style: italic; 
    line-height: 1.5;
}
.carousel_photo.c_p_1 {
    background-image: url("../image/testimonials-avatar-2.png");
    width: 60px;
    height: 60px;
}
.carousel_photo.c_p_2 {
    background-image: url("../image/testimonials-avatar-1.png");
    width: 60px;
    height: 60px;
}
button.carousel_top {
    background-image: url('../image/arrow_up.svg');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}
button.carousel_top:hover {
    transform: translateY(-5px);
}
button.carousel_bottom{
    background-image: url("../image/arrow_down.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;  
    transition: all .2s ease-in-out;
}
button.carousel_bottom:hover {
    transform: translateY(5px);
}

/**/
.contact {
    background-color: #fafafa;
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact_info,
.contact_form {
    max-width: 1440px;
    min-width: 320px;
    width: 100%;
}
.contact_form {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.contact_info {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1.c_i_h {
    width: 100%;
    text-align: center;
    font-family: "Raleway";
    font-size: 44px;
    color: #061e37;
}
p.c_i_p {
    max-width:  630px;
    width: 100%;
    min-width: 320px;
    text-align: center;
    color: #061e37;
    font-weight: 500;
}
input.text_input,
input.c_f_t_b {
    outline: none;
    padding: 15px 20px;
    border: solid 1px #061f37;
    border-radius: 5px;
    font-family: 'Roboto ',sans-serif;
}
input.text_input{
    width: 40%;
}
.contact_form_text_block {
    display: flex;
}
input.c_f_t_b {
    width: 100%;
}
.subs {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
}
input.send_form {
    outline: none;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
    background-color: #1de9b6;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s ease-in-out;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
input.send_form:hover{
        box-shadow: 0 5px 16px 0px rgba(51, 51, 51, .3);
}
form.form_block {
    max-width: 600px;
    width: 100%;
    min-width: 320px;
}
p.contact_form_p {
    display: flex;
    justify-content: space-between;
}
/*V rot ebal ya checkbox*/
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
}
label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-image: url("../image/check_box/baseline-check_box_outline_blank.svg");
}
input[type=checkbox]:checked+label:before {
    content: "";
    background-image: url("../image/check_box/baseline-check_box.svg");
}
input[type=checkbox] {
    display: none;
}


/*V rot ebal ya checkbox*/
.footer_s_link {
    display: flex;
}
.footer-social{
    width: 20px;
    height: 20px;
    opacity: 0.5;
}
.footer-social.link-1{
    background-image: url("../image/social/facebook-logo-footer.svg");
    margin-right: 20px;
}
.footer-social.link-2 {
    background-image: url("../image/social/twitter-logo-footer.svg");
    margin-right: 20px;
}
.footer-social.link-3 {
    background-image: url("../image/social/linkedin-logo-footer.svg");
    margin-right: 20px;
}
.footer-social.link-4 {
    background-image: url("../image/social/dribbble-logo-footer.svg");
    margin-right: 20px;
}
.footer-social.link-5 {
    background-image: url("../image/social/behance-logo-footer.svg");
}
.footer-social:hover {
    opacity: 1;
}